<!DOCTYPE html>
<html>
  <head>
    <title><%=@title%></title>
    <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch:bold&v1' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Copse&v1' rel='stylesheet' type='text/css'>
    
    <link href="/screen.css" type="text/css" rel="stylesheet">

  </head>
  <body>
    <%= yield %>
    
    <!-- JavaScript at the bottom for fast page loading -->

    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script>window.jQuery || document.write("<script src='/jquery-1.6.1.js'>\x3C/script>")</script>

    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
    <script>window.jQuery || document.write("<script src='/jquery-ui-1.8.13.js'>\x3C/script>")</script>
    <script src='/corkboard.js'></script>

  </body>
</html>
