<!DOCTYPE html>
<html>
  <head>
    <title><%=@title%></title>
    <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch:bold&v1' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Copse&v1' rel='stylesheet' type='text/css'>
    
    <link href="/stylesheets/screen.css" type="text/css" rel="stylesheet">

  </head>
  <body>
    <div id='header'>
      <a href='/boards/'>Boards</a> | 

    <% if route.match(/^\/board\/\d+\/?$/) %> 
      <a href='<%= route_noslash %>/edit'>Board setup</a> |
    <% end %>
    
    <% if route.match(/^\/board\/\d+\/edit\/?$/) %> 
      <a href='<%= route_noslash.sub(/\/edit$/, '') %>'>Back to Board</a> |
    <% end %>
    
    <% if session?  %>
      <a href='/logout'>logout</a>
    <% else %>
      <a href='/login'>login</a>
    <% end %>
    </div>
<%= yield %>
    
    <!-- JavaScript at the bottom for fast page loading -->

    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
    <script> console.log(2);</script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script>window.jQuery || document.write("<script src='/scripts/jquery-1.6.1.js'>\x3C/script>")</script>

    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
    <script>window.jQuery || document.write("<script src='/scripts/jquery-ui-1.8.13.js'>\x3C/script>")</script>
    <script src='/scripts/corkboard.js'></script>

  </body>
</html>
