<!DOCTYPE html>
<html>
  <head>
    <title><%=@title%></title>
<link href='http://fonts.googleapis.com/css?family=Cabin+Sketch:bold&v1' rel='stylesheet' type='text/css'>
    <link href="/screen.css" type="text/css" rel="stylesheet">
    <!-- <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript" src="jquery-ui.js"></script>
     <script type="text/javascript" src="drag.js"></script> -->

  </head>
  <body>
    <%= yield %>
    
    <!-- JavaScript at the bottom for fast page loading -->

    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script>window.jQuery || document.write("<script src='/jquery-1.6.1.js'>\x3C/script>")</script>

    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
    <script>window.jQuery || document.write("<script src='/jquery-ui-1.8.13.js'>\x3C/script>")</script>
    <script>
      $(function() {
        function moveNoteToMode(note,mode) {
          note.
            remove(). //remove from old mode
            attr('style', ''). //remove offset
            insertBefore($('.note-placeholder', mode)). //insert into new mode
            draggable(); //make draggable again
        }

        $( ".draggable" ).draggable();
        $( ".droppable" ).droppable({
          hoverClass: 'hovered',
          drop: function( event, ui ) {
            var mode = $(this);
            var mode_id = mode.attr('id');
            var note = ui.draggable;
            moveNoteToMode(note, this);
            //Send Post request, sinatra handles this to update
            $.post("note/" + note.attr('id'), {mode_name: mode_id});
          }
        });

      });
    </script>

  </body>
</html>
