<!DOCTYPE HTML>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

  
    <title></title>
    <link href="list_files/screen.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="list_files/jquery.js"></script>
    <script type="text/javascript" src="list_files/jquery-ui.js"></script>
    <!--  <script type="text/javascript" src="drag.js"></script> -->
    <script>
      $(function() {
        $( ".draggable" ).draggable();
        $( ".droppable" ).droppable({
          drop: function( event, ui ) {
            $( this )
            .addClass( "ui-state-highlight" )
            .find( "p" )
            .html( "Dropped!" );
          }
        });

      });
    </script>

  </head><body>
    <div id="content">
  
    <div id="icebox"> <!-- class="droppable ui-widget-header" -->
      <p>message</p>
        
          <div style="position: relative;" class="draggable ui-widget-content ui-draggable"> 
              First Note
          </div>
        
          <div style="position: relative;" class="draggable ui-widget-content ui-draggable"> 
              Second Note
          </div>
        
      </div>
  
    <div id="todo"> <!-- class="droppable ui-widget-header" -->
      <p>message</p>
        
          <div style="position: relative;" class="draggable ui-widget-content ui-draggable"> 
              Third Note
          </div>
        
          <div style="position: relative;" class="draggable ui-widget-content ui-draggable"> 
              Fourth Note
          </div>
        
      </div>
  
    <div id="done"> <!-- class="droppable ui-widget-header" -->
      <p>message</p>
        
      </div>
  
      <div id="target" class="droppable ui-widget-header ui-droppable">
        <p>drop here</p>
      </div>
</div>


  <div id="ui-datepicker-div" style="display: none;"></div></body></html>