<div id="content">
  <% for mode in @modes %>

    <div id="<%= mode.title.downcase %>" class="droppable ui-widget-header">
      <p>message</p>
        <% for note in mode.notes  %>
      
          <div class="draggable ui-widget-content"> 
            <%= note.title %> : <%= note.description %> 
          </div>
       
        <% end %>
      </div>

  <% end %>
</div>

