<div id="content">
  <div class='page_title'>
    <h2>Login</h2>
    <form method="post" action="/login" >
      <input name="_method" type="hidden" value="post" />
      <table class='form'>
        <tr>
          <td> Email </td>
          <td><input type="text"  name="post[email]" value=""/></td>
        </tr>
        <tr>
          <td>Auth</td>
          <td><input type="password"  name="post[auth]" value=""/></td>
        </tr>
        <tr>
          <td></td>
          <td><button type="submit">Login</button></td>
        </tr>
      </table>
    </form>
  </div>

  <div class='page_title'>
    <h2>Signup (Beta)</h2>
    <h3 class='flash'>ABSOLUTELY NO WARRANTY ( while in beta ) </h3>
    <form method="post" action="/signup" >
      <input name="_method" type="hidden" value="post" />
      <table class='form'>
        <tr>
          <td> Name </td>
          <td><input type="text"  name="post[name]" value=""/></td>
        </tr>
        <tr>
          <td> Email </td>
          <td><input type="text"  name="post[email]" value=""/></td>
        </tr>
        <tr>
          <td>Auth</td>
          <td><input type="password"  name="post[auth]" value=""/></td>
        </tr>
        <tr>
          <td></td>
          <td><button type="submit">SignUp</button></td>
        </tr>
      </table>
    </form>

  </div>
</div>

