<div id="content">
  <div class='first-h2 mode'>
    <h2>Login</h2>
    <form method="post" action="/login" >
      <input name="_method" type="hidden" value="post" />
      <table>
        <tr>
          <td> Email </td>
          <td><input type="text"  name="post[email]" value=""/></td>
        </tr>
        <tr>
          <td>Auth</td>
          <td><input type="text"  name="post[auth]" value=""/></td>
        </tr>
        <tr>
          <td></td>
          <td><button type="submit">Login</button></td>
        </tr>
      </div>
    </form>
  </div>
</div>

