
/* Header bar*/
#header {
  background-color: rgba(0, 0, 0, 0.5);
  color: #999;
  position: fixed;
  margin: 0px;
  padding: 0px;
  height: 1.5em;
  left: 0px;
  right: 0px;
  top: 0px;
  vertical-align: top;
  z-index: 10000;
}

#header a {  text-decoration: none;}
#header a:link    { color: #DDD; } 
#header a:visited { color: #DDD; }
#header a:hover   { color: #FFF; } 
#header a:active  { color: #FFF; } 


/* List Page Styling */
body {
  background: url(/img/cork.jpg) white repeat;
}
h2 {
  font-family: 'Cabin Sketch', Helvetica, Arial, sans-serif;
  font-size: 40px;
  margin: 5px;
  padding: 0;
  border-bottom: 2px black solid;
}

.flash {
  background-color: rgba(100, 100, 200, 0.5);
}
/* generic header */
.page_title {
  padding: 10px;
}
.page_title h2 {
  margin-top: 10px;
}


.mode {
  min-height: 100px;
  padding: 10px;
}
.first-h2 h2 {
  margin-top: 10px;
}
.mode:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

/*#IceBox {
background-color: rgba(0,0,0,0.2);
}
  #ToDo {
  background-color: rgba(0,0,0,0.1);
}
  #Done {
  background-color: rgba(0,0,0,0.05);
}*/

/* Board List Styling */
.board, .board-placeholder {
  width: 100px;
  height: 100px;
  float: left;
  border: 2px solid; 
  padding: 3px;
  margin: 5px;
}
.board-placeholder {
  border: 3px yellow dashed;
  margin: 3px;
  visibility: hidden;
}

.hovered .board-placeholder {
  visibility: visible;
}

.new-board {
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  height: 30px;
  width: 30px;
  display: inline-block;
  background-color: rgba(255,255,255,0.5);
  font-size: 40px;
  line-height: 25px;
  text-align: center;
  text-decoration: none;
  color: black;
}


.board {
  z-index: 100;
  border:1px solid #FFF057;
  background-color: rgba(60, 132, 198, 0.8);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#FFFAAE), to(#FFF057));
  background-image: -moz-linear-gradient(#FFFAAE 0%, #FFF057 90%);
  -webkit-box-shadow: rbga(0,0,0,0.2) 0px 5px 5px;
  -moz-box-shadow: rgba(0,0,0,0.2) 0px 5px 5px; /* FF 3.5+ */
  font-family: 'Copse', Times, serif;
}

.board .title {
  border-bottom: 1px black solid;
}

.board input {
  width: 94px;
}




/* Note Styling */
.note, .note-placeholder {
  width: 100px;
  height: 100px;
  float: left;
  border: 2px solid; 
  padding: 3px;
  margin: 5px;
}
.note-placeholder {
  border: 3px yellow dashed;
  margin: 3px;
  visibility: hidden;
}

.hovered .note-placeholder {
  visibility: visible;
}

.new-note {
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  height: 30px;
  width: 30px;
  display: inline-block;
  background-color: rgba(255,255,255,0.5);
  font-size: 40px;
  line-height: 25px;
  text-align: center;
  text-decoration: none;
  color: black;
}


.note {
  z-index: 100;
  border:1px solid #FFF057;
  background-color: rgba(60, 132, 198, 0.8);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#FFFAAE), to(#FFF057));
  background-image: -moz-linear-gradient(#FFFAAE 0%, #FFF057 90%);
  -webkit-box-shadow: rbga(0,0,0,0.2) 0px 5px 5px;
  -moz-box-shadow: rgba(0,0,0,0.2) 0px 5px 5px; /* FF 3.5+ */
  font-family: 'Copse', Times, serif;
}

.note .title {
  border-bottom: 1px black solid;
}

.note input, .note textarea {
  width: 94px;
}
.note textarea {
  height: 65px;
  margin-top: 3px;
}
