div#container {

}

.droppable {
  border: 2px solid; 
}



/* Drag Drop Specific CSS */
.draggable { 

}

table.listing {
  width: 100%;
}


table.listing tr.droppable-hover td {
	background-color: #E1F9BC;
}


/* List Page Styling */
.mode {
  min-height: 100px;
  padding: 10px;
}
.mode:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

#icebox {
  background-color: #555;
}
#todo {
  background-color: #AAA;
}
#done {
  background-color: #EEE;
}


/* Note Styling */
.note, .note-placeholder {
  width: 100px;
  height: 100px;
  float: left;
  border: 2px solid; 
  padding: 3px;
  margin: 5px;
}
.note-placeholder {
  border: 3px yellow dashed;
  margin: 3px;
  visibility: hidden;
}

.hovered .note-placeholder {
  visibility: visible;
}
.note {
  z-index: 100;
  border:1px solid #FFF057;
  background-color: rgba(60, 132, 198, 0.8);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#FFFAAE), to(#FFF057));
  background-image: -moz-linear-gradient(#FFFAAE 0%, #FFF057 90%);
  -webkit-box-shadow: rbga(0,0,0,0.2) 0px 5px 5px;
  -moz-box-shadow: rgba(0,0,0,0.2) 0px 5px 5px; /* FF 3.5+ */
}

