
table.listing {
  width: 100%;
}


table.listing tr.droppable-hover td {
	background-color: #E1F9BC;
}


/* List Page Styling */
body {
  background: url(/img/cork.jpg) white repeat;
}
h2 {
  font-family: 'Cabin Sketch', Helvetica, Arial, sans-serif;
  font-size: 40px;
  margin: 5px;
  padding: 0;
  border-bottom: 2px black solid;
}


.mode {
  min-height: 100px;
  padding: 10px;
}
.mode:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

/*#IceBox {
  background-color: rgba(0,0,0,0.2);
}
#ToDo {
  background-color: rgba(0,0,0,0.1);
}
#Done {
  background-color: rgba(0,0,0,0.05);
}*/

/* Note Styling */
.note, .note-placeholder {
  width: 100px;
  height: 100px;
  float: left;
  border: 2px solid; 
  padding: 3px;
  margin: 5px;
}
.note-placeholder {
  border: 3px yellow dashed;
  margin: 3px;
  visibility: hidden;
}

.hovered .note-placeholder {
  visibility: visible;
}

.new-note {
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  height: 30px;
  width: 30px;
  display: inline-block;
  background-color: rgba(255,255,255,0.5);
  font-size: 40px;
  line-height: 25px;
  text-align: center;
  text-decoration: none;
  color: black;
}


.note {
  z-index: 100;
  border:1px solid #FFF057;
  background-color: rgba(60, 132, 198, 0.8);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#FFFAAE), to(#FFF057));
  background-image: -moz-linear-gradient(#FFFAAE 0%, #FFF057 90%);
  -webkit-box-shadow: rbga(0,0,0,0.2) 0px 5px 5px;
  -moz-box-shadow: rgba(0,0,0,0.2) 0px 5px 5px; /* FF 3.5+ */
  font-family: 'Copse', Times, serif;
}

.note .title {
  border-bottom: 1px black solid;
}

.note input, .note textarea {
  width: 94px;
}
.note textarea {
  height: 65px;
  margin-top: 3px;
}
