<p><a href="/todo/create">Create New</a></p>

<p>Copy this to URL bar <a href="javascript:location = '<%=request.url%>/createapi?todo='+escape(location); void 0">Create TODO</a></p>

<table>
<% for todo in @todo %>
<tr><td><% if todo.done %>Done<% else %>TODO<% end %></td>
<td><a href="/todo/<%=todo.id%>"><%=todo.desc%></a></td></tr>
<% end %>
</table>
