<div id="content">
  <div id='board_list' class='droppable ui-widget-header page_title'>
    <h2>
      Boards
      <small><a href='#' class='new-board'>+</a></small>
    </h2>

    <% for board in @boards  %>
      <div id="<%= board.alphakey %>" class="board draggable ui-widget-content"> 
        <div class="title">
          <a href='/board/<%=board.alphakey%>'><%= board.title %></a>
        </div>
      </div>
    <% end %>

    <div class="board-placeholder"></div>

  </div>
</div>
